.image:hover {
    transform: scale(1.5);
}

.image{
    -webkit-border-radius: 50em;
	-moz-border-radius: 50em;
    border-radius: 12px;    
    margin-left: 4px;
    margin-right: 4px;

    transition: all .3s ease-out;
}