<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>Welcome to English as a song</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <!-- <p>Select the interface language</p> -->
        <button mat-button>English</button>
        <button mat-button>Ukrainian</button>
        <button mat-button>Russian</button>
    </mat-card-actions>
    <mat-card-content>
        <p>login</p>
        <input placeholder="login" type="email" id="userPassword" autocomplete="current-password" class="email" value="" required>
        <p>password</p>
        <input placeholder="password" type="password" class="password" autocomplete="current-password" type="password" value="" required>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Login</button>
        <button mat-button>Sign up</button>
        <button mat-button>Remind me</button>
    </mat-card-actions>
</mat-card>