@import '~sass/variables';
.login-card {
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    min-width: 180px;
    background-color: lighten($mainColor, 75%);
    mat-card-header {
        margin: auto;
    }
    .fa-cont {
        width: 32px;
    }
    .fa-user:before {
        content: "\1F464";
    }
    .fa-passwords:before {
        content: "\26BF";
    }
}

;
h2 {
    text-align: center;
}

.eng {
    background-image: url('../../../assets/pic/flag_eng_88x36.gif');
    height: 16px;
}