<h2 i18n>{{ 'Forms.Login.Welcome to English as a song' | translate }}</h2> -->
<!-- //<h2 >Welcome to English as a song</h2> -->
<mat-card class="login-card">
    <button class="mat-button eng" (click)="changeLanguage('en')">
        <!-- <img src='images/flag_eng.png' /> -->
        <!-- <img src="../../../../images/flag_eng_.png" /> -->
    </button>
    <button mat-button (click)="changeLanguage('ua')">
        <img src="http://i.piccy.info/i9/cf2aa66688ddd972bf98077857abf0d5/1532358178/418/1259412/Ukraine_Flag_16x16.png" />
    </button>
    <button mat-button (click)="changeLanguage('ru')">Russian</button>
    <mat-card-header>
        <!-- <mat-card-title>Welcome to English as a song</mat-card-title> -->
        <p>{{ 'Forms.Login.LOGIN' | translate }}</p>
    </mat-card-header>
    <mat-card-actions>
        <!-- <p>Select the interface language</p> -->

    </mat-card-actions>
    <mat-card-content>
        <input i18n-placeholder placeholder="{{ 'Forms.Login.login' | translate }}" type="email" id="userPassword" autocomplete="current-password" class="email" value="" required>
        <input i18n-placeholder placeholder="{{ 'Forms.Login.password' | translate }}" type="password" class="password" autocomplete="current-password" type="password" value="" required>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button i18n>{{ 'Forms.Login.Login' | translate }}</button>
        <button mat-button i18n>{{ 'Forms.Login.Sign up' | translate }}</button>
        <button mat-button i18n>{{ 'Forms.Login.Forgot password' | translate }}</button>
    </mat-card-actions>
</mat-card>