mat-card {
    max-width: 500px;
    width: 80%;
    height: 528px;
    mat-card-content {
        .first-name:before {
            content: "\1F464";
        }
        .second-name:before {
            content: "\1F464";
        }
        .e-mail:before {
            content: "\0040";
        }
        .password:before {
            content: "\26BF";
        }
        :host {
            height: 100%;
        }
        .photo {
            object-fit: contain;
        }
        .card {
            width: 95%;
            margin: 0 auto;
        }
    }
}